.container {
  text-align: center;
}

h1#title {
  font-size: 3.2em;
  margin: 10% 0 0 0;
}

.game-space{
  text-align: center;
  display: none;
}


div#new-players {
  margin: 10% auto;
  text-align: center;
}

div.form-group {
  display: inline-block;
}

.game-over {
  display: none;
}

td {
  padding: 0;
  background-color: #eee;
  border: 7px solid #fff;
  width: 100px;
  height: 100px;
  text-align: center;
}

#playerOne-info, #playerTwo-info{
  display: inline-block;
  padding: 0 30px 0 0;
  text-align: center;
}

table{
  margin: 0 auto;
}


.game-over{
  text-align: center;
  margin: 60px 0 0 0;
}
